@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600;700&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


* {
	padding: 0;
	margin: 0;
}

body {
	background-color: #000;
}
.main {
	background-image: url("./img/bg.jpg");
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	position: relative;
}

.main .box {
	height: 100vh;
	width: 100%;
	opacity: 0.70;
	position: absolute;
	top: 0;
	background-color: black;
}

nav {
	margin: auto;
	max-width: 70vw;
	height: 100px;;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav img {
	color: red;
	height: 100%;
	width: 130px;
	z-index: 10;
	position: relative;
}

nav button {
	z-index: 10;
	position: relative;
}

.hero {
	height: calc(100% - 100px);
	color: white;
	position: relative;
	font-family: "Martel Sans", sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	/* gap: 20px; */
	padding: 0 25px;
}

.hero > :nth-child(1) {
	font-size: 2.8rem;
	text-align: center;
	font-family: "Martel Sans", sans-serif;
	font-weight: 900;
	font-style: normal;
}

.hero > :nth-child(2) {
	font-weight: 500;
	font-size: 1.7rem;
	text-align: center;
	margin-top: 0.5rem;
}

.hero > :nth-child(3) {
	font-weight: 500;
	margin-top: 1rem;
	font-size: 1.3rem;
	text-align: center;
	margin-top: 1rem;
}

.separation {
	height: 4px;
	background-color: rgba(77, 75, 75, 0.801);
	position: relative;
	z-index: 20;
}


#input1{
	width: 250px;
	height: 35px;
	font-size: 14px;
}


.btn-red {
	background-color: #e50914;
	width: 190px;
	color: #fff;
	height: 52px;
	padding: 3px 24px;
	font-size: 1.25rem;
	border-radius: 4px;
	font-weight: 600;
	border: none;
}

.btn{
	background-color: transparent;
	color: #fff;
	border: 1px solid white;
	height: 32px;
	padding: 3px 24px;
	font-size: 1rem;
	border-radius: 4px;
	font-weight: 500;
}

.btn-red-sm {
	background-color: #e50914;
	color: #fff;
	height: 32px;
	padding: 3px 15px;
	font-size: 1rem;
	border-radius: 4px;
	font-weight: 550;
	border: none;
	margin-left: 15px;
}

.hero-buttons {
	display: flex;
	margin-top: 20px;
	gap: 10px;
	align-items: center;
	justify-content: center;
}

.main input {
	padding: 7px 100px 8px 14px;
	font-size: 0.75rem;
	border-radius: 4px;
	color: white;
	font-weight: 700;
	background-color: rgba(23, 23, 23, 0.7);
	border: 1px solid rgba(246, 238, 238, 0.4);
}

.first {
	margin: auto;
	font-family: "Martel Sans", sans-serif;
	max-width: 80vw;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.secImg {
	position: relative;
}

.secImg img {
	width: 555px;
	position: relative;
	z-index: 10;
}

.secImg video {
	position: absolute;
	top: 51px;
	right: 0px;
	width: 555px;
}
  
section.first>div {
	display: flex;
	flex-direction: column;
	padding: 34px 0;
}

section.first>div :nth-child(1) {
	font-size: 43px;
	font-weight: bolder;
	line-height: 3rem;
	margin-top: 15px;
}


section.first>div :nth-child(2) {
	font-size: 25px;
	line-height: 1.5rem;
	margin-top: 15px;
}

.faq h2 {
	text-align: center;
	font-size: 40px;
}
  
.faq {
	background: black;
	color: white;
	padding: 30px;
	font-family: "Martel Sans", sans-serif;
}
  
.faqbox:hover {
	background-color: #414141;
	color: white;
}
  
.faqbox svg {
	filter: invert(1);
}


#ptext{
 font-size: 18px;
 margin-top: 15px;
 font-weight: 400;
}


.faqbox {
	transition: all 1s ease-out;
	font-size: 20px;
	display: flex;
	justify-content: space-between;
	background-color: #2d2d2d;
	padding: 24px;
	max-width: 60vw;
	margin: 10px auto;
	cursor: pointer;
}
  
footer {
	color: white;
	max-width: 60vw;
	margin: auto;
	padding: 60px;
}
  
footer .questions {
	padding: 34px 0;
}
  
  
.footer {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	color: white;
}
  

.footer a {
	font-size: 14px;
	color: rgb(184, 178, 178);
}
  
.footer-item {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.clone{
	height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 15px;
	padding-top: 25px;
	font-size: 16px;
}
.clone:hover{
	color: #e50914;
}
  
@media screen and (max-width: 1300px) {
	nav{
	    max-width: 90vw;
	}
	.first {
	    flex-wrap: wrap;
	}
	.secImg img {
	    width: 305px;
	}
	.secImg video {
	    width: 305px;
	}
	.hero> :nth-child(1) {
	    font-size: 32px;
	}
	.hero> :nth-child(2) {
	    font-size: 18px;
	}
	.hero> :nth-child(3) {
	    font-size: 18px;
	}
	.hero-buttons {
	    display: flex;
	    flex-direction: column;
	    align-items: center;
	    justify-content: center;
	    gap: 16px;
	}
	.faq h2 {
	    text-align: center;
	    font-size: 32px;
	}
	footer {
	    max-width: 90vw;
	    padding: 75px 0;
	}
	.footer-item{
	    align-items: center;
	}
	.footer {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 25px;
	}
}


@media screen and (max-width: 550px) {

	.hero> :nth-child(1) {
	    font-size: 32px;
	}
	.hero> :nth-child(2) {
	    font-size: 18px;
	}
	.hero> :nth-child(3) {
	    font-size: 18px;
	}

	section.first>div :nth-child(1) {
		font-size: 32px;
	}
	
	
	section.first>div :nth-child(2) {
		font-size: 20px;
		margin-top: 15px;
	}
	
	.btn{
		padding: 3px 18px;
		font-size: 0.75rem;
	}
	
}
